body {
  font-family: "Courier New", Courier, monospace;
}

article {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.mapa {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(23, 1fr);
  aspect-ratio: 23/8;
  background-color: greenyellow;
}
.mapa .visitavel {
  background-color: blanchedalmond;
}
.mapa span {
  font-size: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botoes {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: ". cima ." "esq baixo dir";
  gap: 0.25em;
}
.botoes > button {
  aspect-ratio: 1;
  width: fit-content;
}
.botoes > button:nth-child(1) {
  grid-area: cima;
  justify-self: center;
}
.botoes > button:nth-child(2) {
  grid-area: esq;
  justify-self: end;
  transform: rotate(-90deg);
}
.botoes > button:nth-child(3) {
  grid-area: baixo;
  justify-self: center;
  transform: rotate(180deg);
}
.botoes > button:nth-child(4) {
  grid-area: dir;
  justify-self: start;
  transform: rotate(90deg);
}

.linhaStatus {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: hsl(0, 100%, 82%);
  justify-items: center;
}
.linhaStatus span {
  font-size: 0.75em;
  font-weight: bold;
  float: left;
}
@media (min-width: 576px) {
  .linhaStatus span {
    font-size: 1em;
  }
}

.algodex {
  display: flex;
}

.algodexTable {
  width: 100%;
  background-color: white;
  border-collapse: collapse;
}
.algodexTableBody > tr {
  font-weight: bold;
}
.algodexTableBody > tr > td > * {
  font-weight: normal;
}
.algodexTableBody > tr:nth-child(odd) {
  background-color: blanchedalmond;
}
.algodexTableBody > tr:nth-child(even) {
  background-color: oldlace;
}

.botoesLista {
  display: flex;
  flex-direction: column;
}
.botoesLista > button {
  display: flex;
  flex-grow: 1;
  align-items: baseline;
  padding-top: 5px;
}
.botoesLista > button:nth-child(2) {
  transform: rotate(180deg);
}
